#course1, #course2, #course3, #course4, 
#course5, #course6, #course7, #course8,
#rules,
#reference1, #reference2, #reference3, #reference4, 
#reference5, #reference6, #reference7, #reference7 {
    width: 94%;
    margin: 15px auto;
    padding: 10px;
    background-color: rgba(225, 225, 225, 0.6);
    /* background-image: url(../images/tutorial.png); */
    border: inset 1px #CCC;
    border-radius: 10px;
} 

#rules {
    background-color: rgba(225, 25, 25, 0.2);
}

#course1 div, 
#course2 div, 
#course3 div, 
#course4 div, 
#course5 div, 
#course6 div, 
#course7 div, 
#course8 div, 
#rules div {
    width: 90%;
    margin: 0px auto;
}

#course1 h1, 
#course2 h1, 
#course3 h1, 
#course4 h1, 
#course5 h1, 
#course6 h1, 
#course7 h1,
#course8 h1,
#rules h1{
    margin: 20px auto 0px;
    padding: 10px 0px;
    background-color: rgba(50, 50, 50, 0.6);
    border-bottom: solid 3px #DDD;
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
}

#course1 h1 span, 
#course2 h1 span, 
#course3 h1 span, 
#course4 h1 span, 
#course5 h1 span, 
#course6 h1 span, 
#course7 h1 span,
#course8 h1 span {
    padding: 11px 20px;
    margin-right: 15px;
    background-color: rgba(50, 50, 50, 0.8);
}

#course1 img,
#course2 img,
#course3 img,
#course4 img,
#course5 img,
#course6 img,
#course7 img,
#course8 img {
    float: left;
    margin: 30px 0px;
    width: 26%;
    height: 200px;
    border: inset 1px #FFF;
    border-radius: 5px;
}

#course1 ol,
#course2 ol,
#course3 ol,
#course4 ol,
#course5 ol,
#course6 ol,
#course7 ol,
#course8 ol {
    margin: 30px 28% 60px;
    width: 67%;
    font-size: 17px;
    color: #222;
}

#course1 li,
#course2 li,
#course3 li,
#course4 li,
#course5 li,
#course6 li,
#course7 li,
#course8 li {
    padding: 3px;
    border-bottom: solid 1px #BBB;
}

#course1 ol li span,
#course2 ol li span,
#course3 ol li span,
#course4 ol li span,
#course5 ol li span,
#course6 ol li span,
#course7 ol li span,
#course8 ol li span {
    float: right;
    margin-right: 15px;
    text-align: left;
}

#course1 a, 
#course2 a, 
#course3 a, 
#course4 a, 
#course5 a, 
#course6 a, 
#course7 a,
#course8 a {
    margin: 0px 87.5% 20px;
    width: 10%;    
    padding: 8px 6px;    
    text-align: center;
    background-color: rgba(225, 225, 225, 0.4);
    border: groove 2px #EEE;
    color: #444;
    font-size: 14px;
    font-weight: normal;
}

#course1 a:hover, 
#course2 a:hover,
#course3 a:hover,
#course4 a:hover,
#course5 a:hover,
#course6 a:hover,
#course7 a:hover,
#course8 a:hover {
    background-color: rgba(225, 225, 225, 0.8);
    border: groove 2px #EEE;
    color: #E48;
}

#buttCour_1, 
#buttCour_2, 
#buttCour_3, 
#buttCour_4, 
#buttCour_5, 
#buttCour_6, 
#buttCour_7,
#buttCour_8 {
    display: none;
}

#rules h1 {
    padding: 10px 20px;
    width: 88%;
    background-color: rgba(25, 125, 225, 0.8);
    border-bottom: solid 3px #CCC;
    color: rgb(240, 240, 240);
}

#rules pre {
    margin: 25px 0px 0px;
    padding: 15px 10px 0px;
    padding-left: 0px;
    font-size: 18px;
    color: #EEE;
}

#rules pre b {
    padding-bottom: 5px;
    border-bottom: solid 2px #DD8;
    font-size: 18px;
    text-transform: uppercase;
    color:#DD8;
}

#reference1,
#reference2,
#reference3,
#reference4,
#reference5,
#reference6,
#reference7,
#reference8 {
    display: none;
    padding: 10px 10px 30px;
}

#reference1 table,
#reference2 table,
#reference3 table,
#reference4 table,
#reference5 table,
#reference6 table,
#reference7 table,
#reference8 table {
    width: 92%;
    margin: 25px auto 10px;
    background: none;
}

#reference1 table th,
#reference2 table th,
#reference3 table th,
#reference4 table th,
#reference5 table th,
#reference6 table th,
#reference7 table th,
#reference8 table th {
    padding: 10px 0px;
    background-color: rgba(225, 25, 50, 0.8);
    border: none;
    border-bottom: solid 3px #DDD;
    color: rgb(240, 240, 240);
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}

#reference1 table th span,
#reference2 table th span,
#reference3 table th span,
#reference4 table th span,
#reference5 table th span,
#reference6 table th span,
#reference7 table th span,
#reference8 table th span {
    padding: 10px 20px;
    margin-right: 15px;
    background-color: rgba(225, 225, 25, 0.6);
    color: #222;
}

#reference1 table td,
#reference2 table td,
#reference3 table td,
#reference4 table td,
#reference5 table td,
#reference6 table td,
#reference7 table td,
#reference8 table td {
    background-color:rgba(225, 225, 225, 0.4);
    border: none;
    text-align: center;
}

#reference1 table #title,
#reference2 table #title,
#reference3 table #title,
#reference4 table #title,
#reference5 table #title,
#reference6 table #title,
#reference7 table #title,
#reference8 table #title {
    width: 80%;
    text-align: left;
}

#reference1 table #additional,
#reference2 table #additional,
#reference3 table #additional,
#reference4 table #additional,
#reference5 table #additional,
#reference6 table #additional,
#reference7 table #additional,
#reference8 table #additional {
    padding: 10px 20px;
    background-color:rgba(225, 225, 225, 0.8);
    color: rgb(40, 40, 40);
}