#course1, #course2, #course3, #course4, #course5, #course6, #course7, #rules,
#reference1, #reference2, #reference3, 
#reference4, #reference5, #reference6, 
#reference7 {
    width: 94%;
    margin: 15px auto;
    padding: 10px;
    background-color: rgba(225, 225, 225, 0.6);
    /* background-image: url(../images/tutorial.png); */
    border: inset 1px #CCC;
    border-radius: 10px;
    color: white;
} 

#rules {
    background-color: rgba(225, 25, 25, 0.2);
}

#course1 h1, 
#course2 h1, 
#course3 h1, 
#course4 h1, 
#course5 h1, 
#course6 h1, 
#course7 h1,
#rules h1{
    margin: 20px auto 0px;
    padding: 10px 0px;
    width: 90%;
    background-color: rgba(50, 50, 50, 0.6);
    border-bottom: solid 3px #DDD;
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
}

#rules h1 {
    padding: 10px 20px;
    width: 88%;
}

#course1 h1 span, 
#course2 h1 span, 
#course3 h1 span, 
#course4 h1 span, 
#course5 h1 span, 
#course6 h1 span, 
#course7 h1 span, 
#rules h1 span {
    padding: 11px 20px;
    margin-right: 15px;
    background-color: rgba(50, 50, 50, 0.8);
}

#rules h1 {
    background-color: rgba(25, 125, 225, 0.8);
    border-bottom: solid 3px #CCC;
    color: rgb(240, 240, 240);
}

#course1 pre, 
#course2 pre, 
#course3 pre, 
#course4 pre, 
#course5 pre, 
#course6 pre, 
#course7 pre, 
#rules pre {
    margin: 15px 0px 0px;
    padding: 15px 10px 0px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

#rules pre {
    margin: 25px 0px 0px;
    padding-left: 0px;
    color: #EEE;
}

#rules pre b {
    padding-bottom: 5px;
    border-bottom: solid 2px #DD8;
    font-size: 18px;
    text-transform: uppercase;
    color:#DD8;
}

#course1 a, 
#course2 a, 
#course3 a, 
#course4 a, 
#course5 a, 
#course6 a, 
#course7 a {
    width: 10%;
    padding: 8px 6px;
    margin: 0px 83.5% 15px;
    text-align: center;
    background-color: rgba(225, 225, 225, 0.4);
    border: groove 2px #EEE;
    color: #444;
    font-size: 14px;
    font-weight: normal;
}

#course1 a:hover, 
#course2 a:hover,
#course3 a:hover,
#course4 a:hover,
#course5 a:hover,
#course6 a:hover,
#course7 a:hover 
{
    background-color: rgba(225, 225, 225, 0.8);
    border: groove 2px #EEE;
    color: #E48;
}

#buttCour_1, 
#buttCour_2, 
#buttCour_3, 
#buttCour_4, 
#buttCour_5, 
#buttCour_6, 
#buttCour_7 {
    display: none;
}

#reference1,
#reference2,
#reference3,
#reference4,
#reference5,
#reference6,
#reference4 {
    padding: 10px 10px 30px;
}

#reference1 table,
#reference2 table,
#reference3 table,
#reference4 table,
#reference5 table,
#reference6 table,
#reference7 table {
    width: 92%;
    margin: 25px auto 10px;
    background: none;
}

#reference1 table th,
#reference2 table th,
#reference3 table th,
#reference4 table th,
#reference5 table th,
#reference6 table th,
#reference7 table th {
    padding: 10px 0px;
    background-color: rgba(225, 25, 50, 0.8);
    border: none;
    border-bottom: solid 3px #DDD;
    color: rgb(240, 240, 240);
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}

#reference1 table th span,
#reference2 table th span,
#reference3 table th span,
#reference4 table th span,
#reference5 table th span,
#reference6 table th span,
#reference7 table th span {
    padding: 10px 20px;
    margin-right: 15px;
    background-color: rgba(225, 225, 25, 0.6);
    color: #222;
}

#reference1 table td,
#reference2 table td,
#reference3 table td,
#reference4 table td,
#reference5 table td,
#reference6 table td,
#reference7 table td {
    background-color:rgba(225, 225, 225, 0.4);
    border: none;
    text-align: center;
}

#reference1 table #title,
#reference2 table #title,
#reference3 table #title,
#reference4 table #title,
#reference5 table #title,
#reference6 table #title,
#reference7 table #title {
    width: 80%;
    text-align: left;
}

#reference1,
#reference2,
#reference3,
#reference4,
#reference5,
#reference6,
#reference7 {
    display: none;
}

#reference1 table #additional,
#reference2 table #additional,
#reference3 table #additional,
#reference4 table #additional,
#reference5 table #additional,
#reference6 table #additional,
#reference7 table #additional {
    padding: 10px 20px;
    background-color:rgba(225, 225, 225, 0.8);
    border: none;
    border-bottom: solid 3px #DDD;
    color: rgb(40, 40, 40);
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}