@charset "utf-8";
/* CSS Document */

#HomeInfo {
	width: 100%;
	height: auto;
	padding: 25px 0px 5px;
	/* background-color: rgba(225, 225, 225, .8); */
	/* background-image: url(../images/background.jpg); */
	background-size: contain;
}
#HomeInfo a {	
	color: #444;
	text-decoration: none;
}

#HomeInfo a:hover #Section {
	background-color: rgba(225, 225, 225, .4);	
	border: outset 1px rgba(225, 225, 225, .6);	
}

#Section {
	display: inline-block;
	width: 96%;
	height: auto;
	margin: auto;	
	margin-bottom: 20px;
	padding: 20px;
	background-color: rgba(225, 225, 200, .8);
	border: groove 2px rgba(225, 225, 125, .6);
}

#Section img {
	width: 26%;
	height: 220px;
	float: left;
}
#Section div {
	float: left;
	margin: 5px 30px;	
}
#Section h1 {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, sans-serif;
	font-size: 125%;
	color: #D66;
}
#Section p {
	font-family: Verdana, sans-serif;
	font-size: 90%;	
}
#Section ol {
	float: left;
	margin: 0px;
	margin-right: 20px;
	font-family: Verdana, sans-serif;
	font-size: 84%;
}

